{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
	<div class="container-fluid">
	 <a class="navbar-brand" href="#">
	 	<img src="{%static 'imagenes/icono.jpg'%}">
	 </a>
	
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-level="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse img-responsive" id="navbarSupportedContent">
	<!---Lista de enlaces de la barra de navegacion--->
	<ul class="navbar-nav nav-der mr-auto">

		<li class="nav-item active">
			<a class="nav-link" href="index">Principal<span class="sr-only">(current)</span></a>
		</li>
		
		<li class="nav-item"><a class="nav-link" href="#">Entrar</a></li>
		<!---Menu de compras--->
		{%include "nav_compra.html"%}
		<!---Menu de recetas--->		
		{%include "nav_recetas.html"%}
		
		<li class="nav-item"><a class="nav-link " href="#">Ventas</a></li>
	
	</ul>
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-lebel="Buscar" name="">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
	</form>
</div>
</div>
</nav>