{%block navigation%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
	<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="static/css/imagenes/img.jpg"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-level="Toggle navigation"><span class="navbar-toggler-icon">Aqui</span>
	</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="#">Principal<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Entrar</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuevo</a>
			<div class="dropdown-menu" aria-lebelledby="navbarDropdown">
				<h6 class="dropdown-header">Registro</h6>
				<div class="dropdown-divider"></div>
				<a  class="dropdown-item" href="#">Ingredientes</a>
				<a  class="dropdown-item" href="">Productos</a>
				<a  class="dropdown-item" href="">Recetas</a>
				<a  class="dropdown-item" href="">Ventas</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		</li>
	</ul>
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-lebel="Buscar" name="">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
	</form>
</div>
</div>
</nav>
{%endblock%}