{%extends "base/base.html"%}
{%block content%}
	<table class="table table-lg table-striped table-bordered table-responsive">
		<thead>
		<tr>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>Fecha de compra</th>
		</tr>
		</thead>
		{%if ingrediente_list%}
		<tbody>
			{%for ingrediente in ingrediente_list%}
			<tr>
				<td>{{ingrediente.nombre}}</td>
				<td>{{ingrediente.precio}}</td>
				<td>{{ingrediente.cantidad}}</td>
				<td>{{ingrediente.fecha_compra}}</td>
			</tr>
			{%endfor%}
		</tbody>
		{%else%}
			<p>No se encontraron ingredientes</p>
		{%endif%}
	</table>
{%endblock%}