{%load static%}
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{%url 'index_co'%}" role="button" aria-haspopup="true" aria-expanded="false" title="Compras" title="Compras">
	<img class="img img-circle" src="{%static 'imagenes/interface_principal/png/019-market.png'%}" width="40">
</a>
	<div class="dropdown-menu">
		<a  class="dropdown-item" href="{%url 'registrar-compra'%}">Registrar</a>
		<a 	class="dropdown-item" href="">Consultar</a>
	</div>
</li>